<header class="app-header">
  <a class="app-header-link" href="javascript:history.back();">返回</a>
  <span class="app-header-title"><%= title %></span>
  <a class="app-header-link" href="#">首页</a>
</header>
